body {
    font-family: arial;
    margin-top: 2em; 
    margin-left: 4em;
    float: left;
    font-size: 100%;
}

.index-list {
    float: left;
}

@media only screen and (max-width: 768px) {
    .index-list {
        font-size: 120%;
        width: 100%;
    }
}
