body {
    font-family: Times, serif;
    margin-top: 2em;
    margin-right: 4em;  
    margin-left: 4em;
    float: left;
}

.index-list {
    float: left;
}

.bold {
  font-weight: bold;
}

.subtitle {
  font-style: italic;
}
