body {
  /* make the body of page have the font times, medium, black */
  margin-top: 2em;
  margin-left: 4em;
  margin-right: 4em;
  font-family: Times, serif;
  color: black;
}

.bold {
  font-weight: bold;
}

.subtitle {
  font-style: italic;
}

table {
  margin-top: 1em;
  margin-right: 4em;
}

table, th {
    border: 0.063em solid black;
}

th, td {
  padding: 0.25em;
  text-align: center;
}

#pizza-table {
  float: left;
}

#pizza-menu {
  float: right;
}
