body {
  /* make the body of page have the font times, medium, black */
  margin-top: 2em;
  margin-left: 4em;
  margin-right: 4em;
  font-family: Times, serif;
  color: black;
}

.bold {
  font-weight: bold;
}

.subtitle {
  font-style: italic;
}

#pizza-table {
  float: left;
}
