body {
    font-family: "Times New Roman", "Times Roman", TimesNR, Times, serif;
}

.bold {
  font-weight: bold;
}

#map {
  height: 100%;
}

#map-container {
  height: 500px;
}

.subtitle {
  font-style: italic;
}
